/* Navbar */
.navbar {
  z-index: 1;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar-items {
  justify-content: space-between;
}
.manage-orders-returns a:hover {
  background-color: aqua;
}
/* sub navbar */
/* The navigation menu */
.sub-navbar {
  overflow: hidden;
  background-color: #333;
  z-index: 2;
  margin-top: 60px;
}

/* Navigation links */
.sub-navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.sub-navbar a:hover,
.subnav:hover .subnavbtn {
  background-color: grey;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: grey;
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}

/* carousel */
.carousel {
  height: 350px;
}
.carousel-image {
  height: 350px;
}
/* sbi discount card */
.sbi-discount-card {
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative; /* To position the shimmering border */
  border: 10px solid transparent; /* Transparent border to contain the shimmer */

  /* Create a golden gradient background for the shimmer */
  background: linear-gradient(
    to right,
    transparent 20%,
    transparent 40%,
    gold 50%,
    gold 55%,
    transparent 70%,
    transparent 100%
  );
  background-size: 200% auto;
  animation: shine 3s linear infinite; /* Animation for the shimmer effect */
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}
/* shopping cards */
.shopping-cards-1 {
  display: flex;
  justify-content: space-between;
}
.shopping-cards-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.card {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.card-img-top {
  height: 18rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.card-img-top:hover {
  transform: scale(1.1);
}
/* footer */
.site-footer {
  background-color: #333;
  color: #fff;
  padding: 60px 0;
}

.site-footer h5 {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.site-footer p {
  font-size: 14px;
  color: #ccc;
}

.site-footer ul {
  list-style: none;
  padding: 0;
}

.site-footer ul li {
  padding: 10px 0;
}

.site-footer a {
  color: #ccc;
  text-decoration: none;
  transition: 0.2s;
}

.site-footer a:hover {
  color: #fff;
  text-decoration: none;
}

.bottom-footer {
  margin-top: 20px;
  padding: 10px 0;
  background-color: #222;
  text-align: center;
}

.bottom-footer p {
  font-size: 14px;
  color: #ccc;
  margin: 0;
}
